{% extends 'layouts/basetable.html' %}
{% block title %}
  Advisors
{% endblock title %}
{% block content %}
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7"></div>
          <div class="col-lg-6 col-5 text-right">
            <a href="{% url 'addadv' %}" class="btn btn-md btn-neutral">Add Advisors</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Advisors</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table id="example" class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Name</th>
                  <th scope="col" class="sort" data-sort="budget">School</th>
                  <th scope="col" class="sort" data-sort="budget">Contact address</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                {% for advisor in items %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <span class="name mb-0 text-sm"> {{advisor.name}}</span>
                        </div>
                      </div>
                    </th>
                    <td>{{ advisor.school }}</td>
                    <td>{{ advisor.address }}</td>
                    <td class="text-right">
                      <a href="{% url 'updadv' advisor.id %}">Edit</a>
                    </td>
                    <td >
                      <a href="{% url 'delete_adv' advisor.id %}">Remove</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- Card footer -->
          <div class="card-footer py-4">
            <h3 class="mb-0"></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}
