{% extends 'layouts/basetable.html' %}
{% block title %}
  Dashboard
{% endblock title %}
{% block content %}
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7"></div>
          <div class="col-lg-6 col-5 text-right">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Dashboard</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table id="example"
                   class="table align-items-center table-flush display nowrap">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Name</th>
                  <th scope="col" class="sort" data-sort="budget">Student Id</th>
                  <th scope="col" class="sort" data-sort="status">Section</th>
                  <th scope="col" class="sort" data-sort="status">Program</th>
                  <th scope="col" class="sort" data-sort="status">Advisor</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="list">
                {% for student in student %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <span class="name mb-0 text-sm">{{ student.name }}</span>
                        </div>
                      </div>
                    </th>
                    <td>{{ student.studentid }}</td>
                    <td>{{ student.section }}</td>
                    <td>{{ student.program }}</td>
                    <td>{{ student.advisor }}</td>
                    <td class="text-right">
                      <a href="{% url 'assign' student.id %}">Edit</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <h3 class="mb-0"></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}
